.custom-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  ion-button {
    width: 63px;
    height: 63px;
    --background: var(--primary-color);
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-down: 0;
    --border-width: 2px;
    --border-style: solid;
    --border-color: #f6f6f6;
    --box-shadow: 0px 0px 5px rgba(54, 60, 74, 0.2);
  }
  
  ion-thumbnail {
    --size: 43px;
  }
  
  ion-label {
    margin-top: 3px;
    font-size: 12px;
    color: var(--text-secondary);
    font-weight: 600;
  }
}
