.header {
  padding: 0 20px;
  --padding-top: 10px;
  --padding-bottom: 10px;
  .title {
    font-size: 24px;
    font-weight: 500;
    color: #030321;
  }
  .sub-title {
    font-size: 18px;
    display: block;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.list-container {
  padding: 25px 20px 15px;
  ion-row {
    gap: 20px;
    ion-col {
      max-width: calc(50% - 10px);
      min-width: calc(50% - 10px);
    }
  }
}

.hide-content {
  display: none;
}

body.scanner-active {
  --background: transparent;
  --ion-background-color: transparent;
}
